<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_visibility_monitoring>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <logs>
                <is_enabled>1</is_enabled>
            </logs>
            <notifications>
                <is_enabled>1</is_enabled>
                <min_interval_in_minutes>15</min_interval_in_minutes>
            </notifications>
            <queue>
                <is_enabled>1</is_enabled>
                <min_interval_in_minutes>3</min_interval_in_minutes>
            </queue>
        </product_visibility_monitoring>
    </default>
</config>
